body {
  background: linear-gradient(#ffbcfa, #d0f2ed);
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  color: #00618e;
  position: relative;
  cursor: url('heart.png'), auto;
}

h1,h2,h3 {
  font-size: 40px;
}

h1,h2,h3,h4,h5,h6,p {
  text-align: center;
}

h1 {
  margin-top: 400px;
}
h4 {
  margin: 400px;
}

h5 {
  font-size: 50px;
  font-weight: 400;
  font-style: italic;
  margin:0px 0px 400px 0px;
}

h6 {
  font-size: 45px;
  font-style:;
}

h1 a {
  color:inherit;
  display:inline-block;
  width: 149px;
  height: 124px;
  border-radius: 20px;
  transition: 200ms;
  padding:11px;
  border: 8px solid;
  margin: .3em;
  text-decoration:none;
  margin: 0 0 0 30px;
}

h1 a:hover {
  color:#ffbcfa;
  cursor: url('happy.png'), auto;

}

.dua {
  font-size: 120px;
  font-weight: 900;
  font-style:italic;
  margin: 30px 0px 400px 0px;
}

.big-numbers {
  font-size: 120px;
  font-weight: 900;
  font-style:italic;
}

.smallnumbers {
  font-size:25px;
  text-transform:lowercase;
}

.rules {
  margin-bottom:400px;
}

.newrules img {
  width: 100%;
  height: auto;
  cursor: url('angry.png'), pointer;

}

.newrules {
  margin:50px auto 200px auto;
  width: 50%;
}

.pushing {
  display: block;
  margin-top: 600px;
}

.love {
  display:block;
  margin: 200px 0 200px 0;
  font-size: 80px;
  font-weight: 700;
  font-style:italic;
  text-shadow: -10px 10px 0px #2cb2e0,
                -20px 20px 0px #32c1f2,
                -30px 30px 0px #60d6ff,
                -40px 40px 0px #60d6ff;

}

.practice {
  margin: 400px 0 0 0;
}

canvas {
  width: 100%;
  height: 100%;
}
